.down-semicircle {
    position: relative;
    width: 100%;
    height: 200px; 
    background-color: #00004d;
    overflow: hidden;
    object-fit: contain; 
  }
  .down-semicircle .content {
    position: absolute;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    display: block;
    color: #fff; 
    font-weight: 30;
}

.second{
    margin-top: 100px;
}

.about_title p{
    margin-top: 15px;
}

.button-container {
    margin: 20px 0;
    text-align: center; 
    display: flex;
    justify-content: left;
  }
  .button-container .btn {
    height: 40px ;
    width: 90px;
    margin: 0 5px;
    padding: 5px 10px; 
    font-size: 0.875rem;
    background-color: transparent;
    color: #000;
    border: none; 
    border-radius: 20px;
  }
  .button-container .btn:hover {
    background-color: #edb087; 
    color: #000; 
  }
  .button-container .btn.active {
    background-color: #fe6600;
    color: #fff; 
  }
  .dynamic-content {
    margin-top: 20px;
  }
.dreamimg{
  margin-right: 0%;
}
  .dreamimg img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .about_img img {
    margin-top: 50px;
    height: 100%; /* Ensure image height adjusts according to the container */
    width: 100%;  /* Ensure image width adjusts according to the container */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.about_img img:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}
.fourth {
  margin-top: 50px;
}

.card-img-top {
  height: 300px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image covers the specified area */
  border: none;
}

.card {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.name{
  justify-content: center; /* Centers the row content */
}
.team{
  background-color: #00004d;
  color: #fff;
  height: 100px;
  align-content: center;
}