<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>User Profile</title>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="profile.css">
	</head>

	<body>
		<div class="profile-container">
			<div class="profile-header">
				<img src="../../assets/images/default-pfp.jpg" alt="pfp" class="profile-pic">
				<div class="profile-info">
					<h1>Joshua Reddekopp</h1>
					<p>Employee ID: #120</p>
					<p>Designation: Angular Developer</p>
					<p>Last Login: 3 Min. ago</p>
					<div class="profile-actions">
						<button class="message-btn">Message</button>
						<button class="edit-btn">Edit Profile</button>
					</div>
				</div>
			</div>
			<div class="profile-content">
				<div class="section personal-info">
					<h2>Personal Information</h2>
					<p>Date of Birth: Mar 1, 1991</p>
					<p>Gender: Male</p>
					<p>Contact Number: 303-955-9280</p>
					<p>Email: joshua.reddekopp@gmail.com</p>
					<p>Permanent Location: 4542 Wood Street Independence, LA 70443</p>
					<p>Communication Location: 4542 Wood Street Independence, LA 70443</p>
				</div>
				<div class="section professional-info">
					<h2>Professional Information</h2>
					<p>Department: UI/UX</p>
					<p>Team: Product UI/UX, Infince</p>
					<p>Role: Frontend Developer</p>
					<p>Reg Date: Aug 18, 2017</p>
					<div class="teams">
						<p>Teams</p>
						<p>Product UI/UX: Jinny S (Team Leader) + 3 more</p>
						<p>QA Team: Jinny S (Team Leader) + 3 more</p>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>