<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login and Sign Up Form</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">

    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="signup.css" />
  </head>

  <body>

    <!-- Header -->
    <header class="p-3 text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
              <use xlink:href=""></use>
            </svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>

          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2" id="show-login">Login</button>
            <button type="button" class="btn btn-warning" id="show-signup">Sign-up</button>
          </div>
        </div>
      </div>
    </header>

    <!-- Login form -->
    <div class="popup login-popup">
      <div class="close-btn">&times;</div>
      <div class="form">

        <!-- Normal Login Form -->
        <form action="login.php" method="POST" id="login-form" novalidate>
          <h2>Log in</h2>

          <div class="form-element">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Enter Email" />
          </div>

          <div class="form-element">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Password" />
          </div>

          <div class="form-element">
            <input type="checkbox" id="remember-me" />
            <label for="remember-me">Remember me</label>
          </div>

          <div class="form-element">
            <input type="submit" value="Submit" id="login-btn" class="submit-btn" />
          </div>

          <div class="form-element">
            <a href="#">Forgot password?</a>
          </div>
        </form>
      </div>
    </div>

    <!-- Sign Up form -->
    <div class="popup signup-popup">
      <div class="close-btn">&times;</div>
      <div class="form">

        <!-- Google, Facebook, LinkedIn Sign Up -->
        <div>
          <div class="social-signup">
            <div tabindex="0" class="login-content">
              <div class="login-inner">
                <span class="icon-container">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill-rule="evenodd"
                    viewBox="0 0 24 24">
                    <path class="icon_svg-fill_as_stroke"
                      d="M20.16 12.193c0-.603-.054-1.182-.155-1.739H12v3.288h4.575a3.91 3.91 0 0 1-1.696 2.565v2.133h2.747c1.607-1.48 2.535-3.659 2.535-6.248z"
                      fill="#4285f4"></path>
                    <path class="icon_svg-fill_as_stroke"
                      d="M12 20.5c2.295 0 4.219-.761 5.625-2.059l-2.747-2.133c-.761.51-1.735.811-2.878.811-2.214 0-4.088-1.495-4.756-3.504h-2.84v2.202A8.497 8.497 0 0 0 12 20.5z"
                      fill="#34a853"></path>
                    <path class="icon_svg-fill_as_stroke"
                      d="M7.244 13.615A5.11 5.11 0 0 1 6.977 12a5.11 5.11 0 0 1 .267-1.615V8.183h-2.84C3.828 9.33 3.5 10.628 3.5 12s.328 2.67.904 3.817l2.84-2.202z"
                      fill="#fbbc05"></path>
                    <path class="icon_svg-fill_as_stroke"
                      d="M12 6.881c1.248 0 2.368.429 3.249 1.271l2.438-2.438C16.215 4.342 14.291 3.5 12 3.5a8.497 8.497 0 0 0-7.596 4.683l2.84 2.202C7.912 8.376 9.786 6.881 12 6.881z"
                      fill="#ea4335"></path>
                  </svg>
                </span>
                <div>Continue with Google</div>
              </div>
            </div>
          </div>

          <div class="social-signup">
            <div tabindex="0" class="login-content">
              <div class="login-inner">
                <span class="icon-container">
                  <svg width="20px" height="20px" style="margin-left: 3px" viewBox="0 0 24 24" role="img"
                    xmlns="http://www.w3.org/2000/svg">
                    <title>LinkedIn icon</title>
                    <path
                      d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
                      fill="#0077B5" />
                  </svg>
                </span>
                <div>Continue with LinkedIn</div>
              </div>
            </div>
          </div>

          <div class="social-signup">
            <div tabindex="0" class="login-content">
              <div class="login-inner">
                <span class="icon-container">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon_svg-fill_as_stroke" fill-rule="evenodd" clip-rule="evenodd"
                      d="M20.5 12a8.5 8.5 0 1 0-9.83 8.397v-5.94H8.513v-2.458h2.159v-1.872c0-2.13 1.269-3.307 3.21-3.307.93 0 1.903.166 1.903.166v2.091h-1.072c-1.056 0-1.385.656-1.385 1.328V12h2.358l-.377 2.457h-1.98v5.94A8.503 8.503 0 0 0 20.5 12Z"
                      fill="#1877F2"></path>
                  </svg>
                </span>
                <div>Continue with Facebook</div>
              </div>
            </div>
          </div>
        </div>

        <!-- ---- Or ---- Divider -->
        <content-divider>
          <div class="divider-wrapper">
            <slot>Or</slot>
          </div>
        </content-divider>

        <!-- Normal Sign Up Form -->
        <form action="signup.php" method="POST" id="signup-form" novalidate>

          <div class="form-element">
            <label for="signup-name">Name*</label>
            <input type="text" id="signup-name" name="name" placeholder="Enter Name" required>
          </div>

          <div class="form-element">
            <label for="signup-email">Email*</label>
            <input type="email" id="signup-email" name="email" placeholder="Enter Email" required />
          </div>

          <div class="form-element">
            <label for="signup-password">Password*</label>
            <input type="password" id="signup-password" name="password" placeholder="Enter Password" required
              autocomplete="current-password" />
          </div>

          <div class="form-element">
            <label>Sign up as: </label>
            <input type="radio" id="job-seeker" name="user-type" value="job-seeker" required checked />
            <label for="job-seeker">Job Seeker</label>
            <input type="radio" id="recruiter" name="user-type" value="recruiter" required />
            <label for="recruiter">Recruiter</label>
          </div>

          <div class="form-element">
            <input type="submit" value="Submit" id="signup-btn" class="submit-btn" />
          </div>
        </form>
      </div>
    </div>

    <div class="container col-xxl-8 px-4 py-2">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../../assets/images/career.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
            width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Empowering Your Career Journey</h1>
          <p class="lead">Career Link connects job seekers with employers, offering seamless profile creation, job
            searches, and applications.
            Employers can post jobs and find ideal candidates. Join us to advance your career!</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">About Us</button>
            <button type="button" class="btn btn-outline-light btn-lg px-4">Contact Us</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi-bootstrap" width="30" height="24">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <span class="mb-3 mb-md-0">© 2024 CareerLink, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#twitter"></use>
              </svg></a></li>
          <li class="ms-3"><a class="" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#instagram"></use>
              </svg></a></li>
          <li class="ms-3">
            <a class="" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"
                viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M459.4 151.7c.3 4.5 .3 9.1 .3 13.6 0 138.7-105.6 298.6-298.6 298.6-59.5 0-114.7-17.2-161.1-47.1 8.4 1 16.6 1.3 25.3 1.3 49.1 0 94.2-16.6 130.3-44.8-46.1-1-84.8-31.2-98.1-72.8 6.5 1 13 1.6 19.8 1.6 9.4 0 18.8-1.3 27.6-3.6-48.1-9.7-84.1-52-84.1-103v-1.3c14 7.8 30.2 12.7 47.4 13.3-28.3-18.8-46.8-51-46.8-87.4 0-19.5 5.2-37.4 14.3-53 51.7 63.7 129.3 105.3 216.4 109.8-1.6-7.8-2.6-15.9-2.6-24 0-57.8 46.8-104.9 104.9-104.9 30.2 0 57.5 12.7 76.7 33.1 23.7-4.5 46.5-13.3 66.6-25.3-7.8 24.4-24.4 44.8-46.1 57.8 21.1-2.3 41.6-8.1 60.4-16.2-14.3 20.8-32.2 39.3-52.6 54.3z" />
              </svg>
            </a>
          </li>
        </ul>
      </footer>
    </div>

    <!-- Custom JS -->
    <script src="signup.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </body>

</html>